<link rel="stylesheet" href="/css/project.css">
<!-- Modal for adding Projects -->
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="\addProject" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter project title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter project description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="contributors" class="form-label">Contributors</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search contributors" onkeyup="searchProjectContributors(this)" aria-label="Search contributors" aria-describedby="searchButton">
                        </div>
                        <div class="scrollable-box">
                            <!--- gets populated from ajax-->
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- edithing project-->
<div class="modal fade" id="edithProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">edith Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edithProjectForm" name="edithProjectForm" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter project title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter project description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="contributors" class="form-label">Contributors</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" onkeyup="searchProjectContributors(this)" placeholder="Search contributors" aria-label="Search contributors" aria-describedby="searchButton">
                        </div>
                        <div class="scrollable-box">
                            <!--- gets populated from ajax-->
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>
