<!-- registration form -->
<%- include('../../partials/messages.ejs') %>
<div class="signup-form d-flex justify-content-center align-items-center flex-column">
  <form action="/signup" method="post">
    <h2>Sign Up</h2>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control form-control-sm" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control form-control-sm" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control form-control-sm" id="password" name="password" required>
    </div>
    <div class="form-group d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a href="/">Login here</a>
    </div>
    <div class="line-container">
      <hr class="line">
      <div class="line-text">Or Demo Users</div>
      <hr class="line">
    </div>
    <div class="form-group d-flex justify-content-between mt-2">
        <a href="/loginAdmin">
          <button type="button" class="btn btn-secondary">Admin</button>
        </a>
        <a href="/loginUser">
          <button type="button" class="btn btn-secondary">User</button>
        </a>
      </div>
  </form>
</div>
